{{ include('lab/_delete_post_confirmation.html.twig') }}
<form action="{{ url('lab_admin_loaned_accessory_delete', {id: loan.id}) }}" method="post" data-confirmation="true" id="delete-form">
    <input type="hidden" name="token" value="{{ csrf_token('delete') }}" />
    <button type="submit" class="btn btn-sm btn-danger">
        <i class="fa fa-trash" aria-hidden="true"></i>
        {{ 'action.delete_accessory'|trans }}
    </button>
</form>
